fastapi==0.124.0
uvicorn==0.38.0
pandas==2.3.3
scikit-learn==1.6.1
joblib==1.4.2
cvxpy==1.5.3
yfinance==0.2.66
python-multipart==0.0.20
python-dotenv==1.1.1
pydantic==2.12.5
numpy==2.3.3
scipy==1.16.2